body{
    font-family: 'Dongle', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 5rem;
    padding-left: .5rem;
   
}

.bg-img{
    background-image: url(imgs/bg-1.png);
    background-position: center;
}

.buy-now-button{
    background-image: linear-gradient(to bottom, #110b0d 0%, #14050b 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 15px 25px;
    
}

.card-title, .card-text{
    text-align: center;
}

.container img{
    width: 100%;
    height: 100%;
}

.card-footer{
    background-color: white;
    border-top:  none;
}

.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}

.centen{
    text-align: center;
   
}
.box{
    box-sizing:content-box;
    border: 200px;
    border-radius: 20px 25px;
    box-shadow: 10px 5px 30px lightgray;
}

.box img{
    width: 50%;
}

.flex-container{
    margin: 30px;
    padding: 30px;
    width: 80%;
    text-align: center;
    line-height: 75px;
} 

